<h1>Task1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)</h1>

In [ ]:
import pandas as pd
import numpy as np
a=pd.Series(np.random.rand(4))
b=pd.Series(np.random.rand(4))
c=pd.Series(np.random.rand(4))
d=pd.Series(np.random.rand(4))

print(a,b,c,d)

0    0.343839
1    0.086804
2    0.147074
3    0.827023
dtype: float64 0    0.239669
1    0.106213
2    0.835299
3    0.587263
dtype: float64 0    0.288615
1    0.247241
2    0.713086
3    0.714799
dtype: float64 0    0.905908
1    0.358137
2    0.176836
3    0.256664
dtype: float64

In [ ]:
#Creating a database with the 4 series

df = pd.DataFrame([a,b,c,d])
print(df)

          0         1         2         3
0  0.343839  0.086804  0.147074  0.827023
1  0.239669  0.106213  0.835299  0.587263
2  0.288615  0.247241  0.713086  0.714799
3  0.905908  0.358137  0.176836  0.256664

<h1>Task-2 : Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'</h1>

In [ ]:
#Changing the column names

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.343839        0.086804        0.147074        0.827023
1        0.239669        0.106213        0.835299        0.587263
2        0.288615        0.247241        0.713086        0.714799
3        0.905908        0.358137        0.176836        0.256664

<h1>Task3 - Find the descriptive statistics of the 'df' dataframe.</h1>

In [ ]:
# Finding descriptive statistics
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.444508        0.199599        0.468074        0.596437
std          0.310530        0.127603        0.357186        0.246785
min          0.239669        0.086804        0.147074        0.256664
25%          0.276379        0.101361        0.169396        0.504613
50%          0.316227        0.176727        0.444961        0.651031
75%          0.484356        0.274965        0.743639        0.742855
max          0.905908        0.358137        0.835299        0.827023

<h1>Task4 - Check for the null values in 'df' and find the data type of the columns</h1>

In [ ]:
#Checking for null values
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
# Checking data type of column
print(df['Random value 1'].dtype)
print(df['Random value 2'].dtype)
print(df['Random value 3'].dtype)
print(df['Random value 4'].dtype)

float64
float64
float64
float64

<h1>Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method</h1>

In [ ]:
#with loc method
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.086804        0.147074
1        0.106213        0.835299
2        0.247241        0.713086
3        0.358137        0.176836

In [ ]:
#with iloc method
df.iloc[0:4,1:3]

   Random value 2  Random value 3
0        0.086804        0.147074
1        0.106213        0.835299
2        0.247241        0.713086
3        0.358137        0.176836